NET "clkp" LOC = "J9"  | IOSTANDARD = LVDS_25;
NET "clkn" LOC = "H9"  | IOSTANDARD = LVDS_25;
NET "clkp" TNM_NET = "sys_clk_pin";
TIMESPEC "TS_sys_clk_pin" = PERIOD "sys_clk_pin" 5000 ps;

NET "rst" LOC = "G26" | IOSTANDARD = LVCMOS25;

NET "digit_out[0]" LOC = "AC22" | IOSTANDARD = LVCMOS25;
NET "digit_out[1]" LOC = "AC24" | IOSTANDARD = LVCMOS25;
NET "digit_out[2]" LOC = "AE22" | IOSTANDARD = LVCMOS25;
NET "digit_out[3]" LOC = "AE23" | IOSTANDARD = LVCMOS25;

NET "LCD_E_LS"   LOC = "AK12" | IOSTANDARD = LVCMOS25;
NET "LCD_RS_LS"  LOC = "T28"  | IOSTANDARD = LVCMOS25;
NET "LCD_RW_LS"  LOC = "AC14" | IOSTANDARD = LVCMOS25;
NET "LCD_DB_LS[0]" LOC = "AD14" | IOSTANDARD = LVCMOS25; 
NET "LCD_DB_LS[1]" LOC = "AK11" | IOSTANDARD = LVCMOS25; 
NET "LCD_DB_LS[2]" LOC = "AJ11" | IOSTANDARD = LVCMOS25; 
NET "LCD_DB_LS[3]" LOC = "AE12" | IOSTANDARD = LVCMOS25;